#	   user: root
#	machine: ce23-amd64-builder
#	   tree: /builder/pfsense-234/tmp/stage-dir/var
#	   date: Wed May  3 16:11:45 2017

# .
/set type=file uid=0 gid=0 mode=0755 nlink=1 flags=none
.               type=dir nlink=24 time=1493845313.717188000

# ./account
account         type=dir nlink=2 time=1493845313.712679000
# ./account
..


# ./at
/set type=file uid=1 gid=0 mode=0755 nlink=1 flags=none
at              type=dir uid=0 nlink=4 time=1493845313.712950000

# ./at/jobs
jobs            type=dir nlink=2 time=1493845313.712847000
# ./at/jobs
..


# ./at/spool
spool           type=dir nlink=2 time=1493845313.712940000
# ./at/spool
..

# ./at
..


# ./audit
/set type=file uid=78 gid=77 mode=0770 nlink=1 flags=none
audit           type=dir uid=0 mode=0750 nlink=4 time=1493845313.713265000

# ./audit/dist
dist            type=dir nlink=2 time=1493845313.713153000
# ./audit/dist
..


# ./audit/remote
remote          type=dir gid=0 mode=0700 nlink=2 time=1493845313.713255000
# ./audit/remote
..

# ./audit
..


# ./authpf
authpf          type=dir uid=0 gid=63 nlink=2 time=1493845313.713367000
# ./authpf
..


# ./backups
backups         type=dir uid=0 gid=0 mode=0750 nlink=2 \
                time=1493845313.713500000
# ./backups
..


# ./cache
cache           type=dir uid=0 gid=0 mode=0755 nlink=2 \
                time=1493845313.713627000
# ./cache
..


# ./crash
/set type=file uid=0 gid=0 mode=0644 nlink=1 flags=none
crash           type=dir mode=0750 nlink=2 time=1493845351.509207000
    minfree     size=5 time=1493845351.509272000
# ./crash
..


# ./cron
/set type=file uid=0 gid=0 mode=0700 nlink=1 flags=none
cron            type=dir mode=0750 nlink=3 time=1493845313.713886000

# ./cron/tabs
tabs            type=dir nlink=2 time=1493845313.713875000
# ./cron/tabs
..

# ./cron
..


# ./db
db              type=dir mode=0755 nlink=10 time=1493845313.714780000

# ./db/entropy
entropy         type=dir uid=2 gid=5 nlink=2 time=1493845313.714067000
# ./db/entropy
..


# ./db/freebsd-update
freebsd-update  type=dir nlink=2 time=1493845313.714160000
# ./db/freebsd-update
..


# ./db/hyperv
hyperv          type=dir nlink=2 time=1493845313.714255000
# ./db/hyperv
..


# ./db/ipf
ipf             type=dir nlink=2 time=1493845313.714348000
# ./db/ipf
..


# ./db/ntp
ntp             type=dir nlink=2 time=1493845313.714477000
# ./db/ntp
..


# ./db/pkg
pkg             type=dir mode=0755 nlink=2 time=1493845313.714578000
# ./db/pkg
..


# ./db/ports
ports           type=dir mode=0755 nlink=2 time=1493845313.714676000
# ./db/ports
..


# ./db/portsnap
portsnap        type=dir mode=0755 nlink=2 time=1493845313.714769000
# ./db/portsnap
..

# ./db
..


# ./empty
empty           type=dir mode=0555 nlink=2 time=1493845313.714896000
# ./empty
..


# ./games
games           type=dir gid=13 mode=0775 nlink=2 \
                time=1493845313.714998000
# ./games
..


# ./heimdal
heimdal         type=dir nlink=2 time=1493845313.715083000
# ./heimdal
..


# ./log
log             type=dir mode=0755 nlink=2 time=1493845313.715168000
# ./log
..


# ./mail
mail            type=dir gid=6 mode=0775 nlink=2 time=1493845313.715260000
# ./mail
..


# ./msgs
msgs            type=dir uid=1 mode=0755 nlink=2 time=1493845313.715365000
# ./msgs
..


# ./preserve
preserve        type=dir mode=0755 nlink=2 time=1493845313.715495000
# ./preserve
..


# ./run
/set type=file uid=0 gid=69 mode=0770 nlink=1 flags=none
run             type=dir gid=0 mode=0755 nlink=4 time=1493845313.715754000

# ./run/ppp
ppp             type=dir nlink=2 time=1493845313.715649000
# ./run/ppp
..


# ./run/wpa_supplicant
wpa_supplicant  type=dir gid=0 mode=0755 nlink=2 time=1493845313.715743000
# ./run/wpa_supplicant
..

# ./run
..


# ./rwho
rwho            type=dir gid=1 mode=0775 nlink=2 time=1493845313.715858000
# ./rwho
..


# ./spool
/set type=file uid=0 gid=1 mode=0755 nlink=1 flags=none
spool           type=dir gid=0 nlink=7 time=1493845313.716458000

# ./spool/lock
lock            type=dir uid=66 gid=68 mode=0775 nlink=2 \
                time=1493845313.716010000
# ./spool/lock
..


# ./spool/lpd
lpd             type=dir nlink=2 time=1493845313.716112000
# ./spool/lpd
..


# ./spool/mqueue
mqueue          type=dir nlink=2 time=1493845313.716206000
# ./spool/mqueue
..


# ./spool/opielocks
opielocks       type=dir mode=0700 nlink=2 time=1493845313.716316000
# ./spool/opielocks
..


# ./spool/output
output          type=dir nlink=3 time=1493845313.716529000

# ./spool/output/lpd
lpd             type=dir nlink=2 time=1493845313.716519000
# ./spool/output/lpd
..

# ./spool/output
..

# ./spool
..


# ./tmp
/set type=file uid=0 gid=0 mode=01777 nlink=1 flags=none
tmp             type=dir nlink=3 time=1493845313.716763000

# ./tmp/vi.recover
vi.recover      type=dir nlink=2 time=1493845313.716753000
# ./tmp/vi.recover
..

# ./tmp
..


# ./unbound
/set type=file uid=59 gid=59 mode=0755 nlink=1 flags=none
unbound         type=dir nlink=3 time=1493845313.716942000

# ./unbound/conf.d
conf.d          type=dir nlink=2 time=1493845313.716931000
# ./unbound/conf.d
..

# ./unbound
..


# ./yp
yp              type=dir uid=0 gid=0 nlink=2 time=1493845313.717044000
# ./yp
..

